<br>
<div class="featured">
  Edit User
  <br>
  <%= image_tag(current_user.avatar.url, :class => "edit-avatar") %>
  <br>
</div>
<div class="featured-small"
  <% if current_user %>
    <% if current_user.admin == true %>
      <span style="color: #ed0000">You are an admin!</span>
    <% end %>
  <% end %>
</div>

<br>
<div class="row">
  <div class="small-8 text-left form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "New Password" %>
        <% if @minimum_password_length %>
        <i><%= @minimum_password_length %> characters minimum</i>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :password_confirmation, "New Password Confirmation" %>
        <% if @minimum_password_length %>
        <i><%= @minimum_password_length %> characters minimum</i>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>

      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <br>
      <div class="actions" align="center">
        <%= f.submit "Update", :class => "button" %>
      </div>
    <% end %>
  </div>
<br>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
