<div id="hero" class= "row">
</div>
  <div class="featured">Featured Reviews</div>
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant large-3 columns grid-float">
      <%=link_to(restaurant) do %>
      <%= image_tag(restaurant.image, class:"center-cropped") %>
      <%= content_tag(:div, restaurant.name, class: "restaurant-title") %>
      <%= restaurant.description %> &nbsp
      <br />
      <% if current_user && current_user.admin %>
      <%= link_to 'Delete', restaurant, :method => 'delete', class: "alert tiny button", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Add Restaurant', new_restaurant_path %>
