<div id="hero" class= "row">
</div>
<div class="restaurants row">
  <% @restaurants.each do |restaurant| %>
<<<<<<< HEAD
    <div class="restaurant small-11 column small-centered">
      <%=link_to(restaurant) do %>
        <%= restaurant.name %>
        <% if current_user && current_user.admin %>
          <%= link_to 'Delete', restaurant, :method => 'delete', class: "alert tiny button", data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </div>
  <% end %>

=======
    <div class="panel">
      <li>
        <%=link_to(restaurant) do %>
          <%= content_tag(:div, restaurant.name, class: "restaurant-title") %>
          <br>
          <%= image_tag(restaurant.image, class:"center-cropped") %>
          <% if current_user && current_user.admin %>
            <%= link_to 'Delete', restaurant, :method => 'delete', class: "alert tiny button", data: { confirm: 'Are you sure?' } %>
          <% end %>
        <%end%>
      </li>
      <%= restaurant.description %>
    </div>
    <br>
    <br>
    <% end %>
>>>>>>> 70661b10b50a920b60ec4873b9e46821fb595bcb
  <%= link_to 'Add Restaurant', new_restaurant_path %>
</div>
